  .filter-padding {
    padding: 20px;
    background-color: aliceblue;
  }

  .title {
    padding-top: 4px;
    width: 30%;
  }

  .release {
    padding-top: 4px;
    width: 70%;
  }

  .right-padding {
    padding-right: 10px;
  }