#parent {
    display: flex;
    justify-content: space-around;
  }
  
  #left {
    padding-top: 4px;
    width: 90%;
  }
  
  #right {
    width: 10%;
    padding-top: 8px;
  }

  span { 
    padding-right: 20px;
  }